/*テーブルをレスポンシブ化する */
.agn-left {
  text-align: left;/*thはセンター揃えなので左揃えにしたいthセルに適用*/
}
.pc-tablehead th{
  white-space: nowrap;/*セル内で改行しない*/
}
/*スマホ表示用*/
  @media screen and (max-width: 480px) {
    .pc-tablehead{
      display: none;/*【1】PCで1行目に表示されているタイトルを非表示に*/
    }
    .vertical-table th{
      border-bottom: none;/*【2】上下の枠線が二重になるのを防止*/
      display: block;/*【3】PCの一列目を縦積みにする*/
      width: 100%;
    }
    .vertical-table td {
      border-bottom: none;/*【2】上下の枠線が二重になるのを防止*/
      display: block;/*【3】PCの2列目以降も縦積みにする*/
      width: 100%;
    }
      .last td:last-child {
        border-bottom: solid 1px #8a9992;/*【4】表の一番下になるセルだけ下線を引く*/
     }
    .vertical-table td:before {
      content: attr(aria-label);/*【5】aria-labelで指定した値を表示させる*/
      display: inline-block;
      font-weight: bold;
      float: left;
      text-align: left;
      padding-right: 1em;
      white-space: nowrap;
    }
    .label br {
      display: none;/*【6】PCでセル内改行した箇所を改行させない*/
    }
/*スマホ表示用ここまで*/
}
/*テーブルをレスポンシブ化するここまで */

/* パソコンで見たときは"pc"のclassがついた画像が表示される */
.pc {
  display: block !important;
}

.sp {
  display: none !important;
}

/* スマートフォンで見たときは"sp"のclassがついた画像が表示される */
@media only screen and (max-width: 767px) {
  .pc {
    display: none !important;
  }

  .sp {
    display: block !important;
  }
}

/* フッター追従 */
#footer_fixed {
  display: none
}

@media screen and (max-width:640px) {
  .wrapper {
    padding-bottom: 10.5%
  }

  #footer_fixed {
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    z-index: 100;
    background: #0faeef;
    box-shadow: rgba(0, 0, 0, .2) 0 0 5px 2px;
  }

  #footer_fixed ul {
    display: table;
    table-layout: fixed;
    width: 100%;
    padding: 1.5% 10%;
    margin: 0;
  }

  #footer_fixed ul li {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  #footer_fixed ul li a {
    display: block;
    color: #fff;
    font-weight: bold;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
  }

  #footer_fixed ul li a span {
    display: block;
    font-size: 2.5vw;
    margin-top: 0.5em;
  }

  #footer_fixed ul li img {
    width: 6vw;
    vertical-align: bottom;
  }
}

/* 画像オンマウス　 */
.alpha a:hover img {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
}
